.wrapper {
  text-align: center;
  padding: 24px;
  display: inline-block;
  box-sizing: border-box;

  .color-text {
    color: #ffffff;
    font-size: 30px;
    mix-blend-mode: difference;
    text-align: center;
  }
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}
